@import "../utilities/variables";
@import "../utilities/functions";

.benefits {
  background-color: $ninth-color;

  &__container {
    background-color: lime;
    margin: 0 auto;
    width: 83.4%;

    &--text {
      margin-left: 1.3125rem;

      & h1 {
        width: 87.2%;
        margin-top: 0.875rem;
        @include fontFamily("Raleway", "Arial", sans-serif);
        @include fontSize(1.875rem, 400);
      }

      & p {
        margin-bottom: 1.6875rem;
        padding-bottom: 1.6875rem;
        width: 86.6%;
        @include fontFamily("Open Sans", "Arial", sans-serif);
        @include fontSize(0.875rem, 400);
      }
    }

    &--macbook{

        width: 100%;

        &--img{
            width: 61%;
            position: relative;
            margin-top: 2.3125rem;
            margin-left: 50px;
            z-index: 1;
        }

    }
    &--phone{

        height: 170px;

        &--img{
            width: 175px;
            position: relative;
            margin-top: 42px;
            margin-left: 25%;
            z-index: 1;
        }

        
        
    }
    &--trumpet{

        height: 195px;

        &--img{
            width: 175px;
            position: relative;
            margin-top: 42px;
            margin-left: 25%;
            z-index: 1;
        }
        
    }
  }
}
.macbook p{
    margin-top: 2.875rem;
}
.phone p{
    margin-top: 1.125rem;
}
.trumpet{
    padding-top: 1.9375rem;

    & p {
        margin-top: 1.25rem;
    }
}