@import "../utilities/variables";
@import "../utilities/functions";
@import "../utilities/mixins";

.benefits {
  background-color: $ninth-color;
  padding-top: 3.5rem;
  height: 81.25rem;

  &__container {
    @include margin(0, auto);
    @include size(83.4%, null);
    background-color: $seventh-color;
    @include min375(){
        max-width: 23.4375rem;
        @include size(100%, null);
      }

    &--text {
      margin-left: 1.3125rem;

      & h1 {
        @include size(87.2%, null);
        @include fontFamily($first-font, "Arial", sans-serif);
        @include fontSize(1.875rem, 400);
        margin-top: 0.875rem;
      }

      & p {
        @include size(86.6%, null);
        @include fontFamily($second-font, "Arial", sans-serif);
        @include fontSize(0.875rem, 400);
        margin-bottom: 1.6875rem;
        padding-bottom: 1.6875rem;
      }
    }

    &--macbook{

        @include size(100%, null);
        display: inline;

        &--img{
            @include size(10.75rem, null);
            @include position(relative, null, null, null,3.125rem);
            padding-top: 2.3125rem;
            z-index: 1;
        }
        &--rectanguleRed{
            @include size(4.375rem, null);
            @include position(relative, null, 0.625rem, 3.4375rem, null);
            z-index: 0;
    
        }

    }
    &--phone{

        @include size(100%, null);
        @include size(null, 8.125rem);

        &--img{
            @include size(8.125rem, null);
            @include position(relative, 1.875rem, null, null, 3.75rem);
            z-index: 1;

        }
        &--circleBlue{
            @include size(5.625rem, null);
            @include position(relative, null, 3.75rem, null, null);
            z-index: 0

        }


        
        
    }
    &--trumpet{
        @include size(null, 12.18175rem);
        background-color: #55DFB4;
        border-radius: 5px;

        &--img{
            @include size(15.3125rem, null);
            @include position(relative, 50px, null, null, null);
            position: relative;
            z-index: 1;
        }    
    }
  }
}
.macbook p{
    margin-top: 2.875rem;
}
.phone p{
    margin-top: 1.125rem;
}
.trumpet{
    padding-top: 1.9375rem;

    & p {
        margin-top: 1.25rem;
    }
}