@import "../utilities/variables";
@import "../utilities/functions";
@import "../utilities/mixins";

.benefits {
  background-color: $ninth-color;
  @include paddingExact(3.5em, 0, 6.25em, 0);

  @include desktop{
    padding-top: 6.6875em
  }


  &__container {
    @include margin(0, auto);
    @include size(83.4%, null);
    background-color: $seventh-color;
    @include min440() {
      max-width: 23.4375em;
      @include size(100%, null);
    }

    @include desktop() {
      @include size(100%, 23.125em);
      max-width: 70.25em;
      display: flex;
      justify-content: start;
      margin-bottom: 2.3125em;
    }

    &--text {
      @include desktop(){
        width: 416px;
      }

      & h1 {
        @include size(87.2%, null);
        @include fontFamily($first-font, "Arial", sans-serif);
        @include fontSize(1.875rem, 400);
        margin-left: 0.73em;
        @include desktop() {
          @include fontSize(2.25rem, 400);
          width: auto;
          margin-left: 0;
        }
      }

      & p {
        @include size(86.6%, null);
        @include fontFamily($second-font, "Arial", sans-serif);
        margin-left: 1.5em;
        @include desktop() {
          width: 100%;
          margin-left: 0;
        }
      }
      & hr{
        visibility: hidden;

        @include desktop(){
          width: 327px;
          visibility: visible;
          border: 2px solid;
        }
      }
    }

    &--macbook {
      height: 9.18em;
      width: 16.875em;

      @include desktop(){
        @include fontSize(1rem, 400);
        width: 57%;
        padding-left: 9em;
        
      }
      

      &--img {
        @include size(12em, null);
        @include position(relative, null, 1em, 4.5em, null);

        @include desktop() {
          @include size(387px, null);
          position: block;
          bottom: 7em;
      
        }
      }
      &--rectanguleRed {
        @include size(5.625em, null);
        position: block;
        margin-top: 6%;
        margin-left: 62%;

        @include desktop() {
          display: none;
        }
      }
      &--rectanguleRed2 {
        visibility: hidden;
        @include size(4.375rem, null);
        z-index: 0;

        @include desktop() {
          visibility: visible;
          @include position(relative, 4em, null, null, 10em);
          margin-left: 2em;
          @include size(225px, null);
        }
      }
    }
    &--phone {
      @include size(15.5625em, 8.125em);

      @include desktop(){
        @include size(100%, 8.125em);
        padding-right: 390px
      }

      &--img {
        @include size(10.9375em, null);
        @include position(relative, null, null, 8em, 5.6em);
        z-index: 1;

        @include desktop() {
          width: 90%;
          @include position(relative, null, null, 19rem, 5em);
          
        }
      }
      &--circleBlue {
        @include size(8.18755em, null);
        position: block;
        margin-left: 36%;
        margin-top: 4%;
        z-index: 0;

        @include desktop() {
          @include size(70%, null);
          margin-left: 70px;
          
        }
      }
    }
    
    &--trumpet{
        @include size(null, 12.18175em);
        background-color: $fourth-color;
        border-radius: 5px;

        @include desktop(){
            float: left;
            @include size(50%, 100%);
            margin-left: 3.8125rem;
        }

        &--img{
            @include size(18.43em, null);
            @include position(relative, 1.525em, null, null, null);
            position: relative;
            z-index: 1;

            @include desktop(){
                @include size(16.5625rem, 12.9375rem);
                @include position(relative, 6.25rem, null, null, 6.25rem);
            }
        }    
    }
  }
}
.macbook {
  flex-direction: row-reverse;
  @include desktop() {
    padding-left: 2.1875rem;
  }

  & h1 {
    padding-top: 0.93em;
    @include desktop() {
      padding-top: 5.6875rem;
    }
  }
  & p {
    @include fontSize(0.875rem, 400);
    margin-top: 3.35em;
    margin-bottom: 2.14em;
    padding-bottom: 2.14em;
    @include desktop() {
      @include fontSize(1rem, 400);
      margin-top: 1.5em;
      margin-bottom: 0;
      padding-bottom: 3.125em;
      
    }
  }
  & hr {
    @include desktop(){
      border-color: $third-color;
    }
  }
}

.phone {
  & h1 {
    padding-top: 0.9em;
    @include desktop() {
    padding-top: 1.917em;
    width: 61.5%
    }
  }
  & p {
    @include fontSize(0.875rem, 400);
    margin-top: 1.28em;
    margin-bottom: 2.14em;
    padding-bottom: 2.14em;
    @include desktop() {
      @include fontSize(1rem, 400);
      margin-top: 1.5em;
      margin-bottom: 0;
      padding-bottom: 3.125em;
      
    }
  }
  & hr {
    @include desktop(){
      border-color: $first-color;
    }
  }
}
.trumpet--desktop{
  @include desktop(){
    display: flex;
    align-items: center;
  }
}
.trumpet {
  @include desktop() {
    padding-left: 2.1875rem;
    float: left;
    flex: 1;
  }

  & h1 {
    padding-top: 1.03em;
    @include desktop() {
    margin-top: 4,3125rem;
    }
  }

  & p {
    @include fontSize(1rem, 400);
    margin-top: 1.25em;
    padding-bottom: 1.06em;
    @include desktop(){
    border-color: $fourth-color;
    }
  }
}