@import "../utilities/variables";
@import "../utilities/functions";
@import "../utilities/mixins";

.contact {
  @include fontSize(2.5rem, 400);
  padding-left: 0.75em;
  padding-top: 0.575em;
  @include margin (0 , auto);
  @include min440(){
    max-width: 27.5rem;
    @include size(100%, null);
  }
  @include desktop(){
    max-width: 56rem;
    @include size(100%, null);
    display: flex;

  }
  &__questions {
    @include desktop(){
      @include size(49%, null);
    }
  
    &--title {
      @include fontFamily($first-font, "Arial", sans-serif);
      @include fontSize(2.5rem, 400);
      margin-bottom: 0.125em;
      @include desktop(){
        @include fontSize(3.0625rem, 400);
      }
    }
    &--description {
      @include fontFamily($second-font, "Arial", sans-serif);
      @include fontSize(1rem, 400);
      margin-bottom: 2.375em;
    }
    &--details {
      @include fontFamily($second-font, "Arial", sans-serif);
      @include fontSize(1rem, 500);
      color: $eighth-color;
      @include desktop(){
        display: inline-flex;
      }

      & img {
        @include position(relative, 5px, null, null, null);
        @include size(1.375rem, null);
        margin-right: 0.625em;
      }
    }
  }
  &__form {

    @include size(88.6%, null);
    overflow: visible;

    @include desktop(){
      @include size(51%, null);
    }

    &--name,
    &--email {
      @include fontFamily($second-font, "Arial", sans-serif);
      @include fontSize(0.6875rem, 500);
      padding-top: 4.364em;
      color: $first-color;
      letter-spacing: 0.298em;

      &--input {
        @include size(100%, null);
        border: none;
        border-bottom: 1px solid $tenth-color;
      }
    }
    &--checkbox {
      @include size(1.5rem, 1.5rem);
      position: block;
      border: 1px solid $tenth-color;
      border-radius: 4px;
    }
    &--conditions {
      @include fontFamily($second-font, "Arial", sans-serif);
      @include fontSize(0.75rem, 400);
      @include size(78.6%, null);
      @include position(relative, null, null, null, 2.917em);
      color: $eleventh-color;
      position: relative;
      @include desktop(){
        @include size(100%, null);
      }
    }
    &--send{
        @include fontFamily($second-font, "Arial", sans-serif);
        @include fontSize(0.8125rem, 600);
        @include padding(1.538em, null);
        @include size(72.4%, null);
        @include shadow(5px, 10px, 14px, 0px, rgba(7,172,230,0.29));
        border-radius: 2.1875rem;
        margin-left: 27.3%;
        background-color: $first-color;
        color: $seventh-color;

        @include desktop(){
          max-width: 14.125rem;
          @include size(100%, null);
          @include position(relative, null, null, null, 11.25rem);
        }
      
    }
  }
}
