@import '../utilities/variables';
@import '../utilities/functions';

.header{
    @include shadow(0px, 3px, 8px, 0px, rgba(0,0,0,0.29));
    @include size(100%, 4.375rem);
    margin-bottom: 6.25rem;

    &__title{
        @include fontSize(2rem, 300);
        @include paddingExact(1.0625rem, 0, 0, 1.5625rem);
        @include fontFamily($first-font, 'Arial', sans-serif);
        color: $first-color;
    }
    &__nav{

        & svg {
            @include position(relative,  null , null, 4.375rem, 89.1%);
            @include size(1.25rem, null);
            fill: $sixth-color;
        }


        & ul{
            @include fontSize(11px, 700);
            @include marginExact(40px, 0, 0, 25px);
            @include fontFamily($second-font, 'Arial', sans-serif);
            color: $second-color;
            letter-spacing: 3.28px;
            display: none;
        }

        & li {
            list-style: none;
            line-height: 15px;
            margin-bottom: 14px;
        }

        & a{
            text-decoration: none;
        }
        
    }
}
