@import "../utilities/variables";

.main {
  &__container {
    margin: 0 auto;
    max-width: 440px;
    width: 82.6%;
    &--title {
      font-family: $first-font;
      font-weight: 400;
      font-size: 35px;
      margin: 0 auto;
      text-align: center;
    }
    &--subtitle {
      font-family: $second-font;
      font-weight: 400;
      font-size: 16px;
      text-align: center;
      padding-top: 20px;
    }
    &--button {
      margin-top: 30px;
      width: 100%;
      padding: 22px;
      background-color: $first-color;
      color: $seventh-color;
      border-radius: 40px;
      border-style: none;
      box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
      font-family: $second-font;
      font-size: 16px;
      font-weight: 700;
    }
  }
  &__img {
    margin-top: 51px;
    max-width: 100%;
    background-size: cover;
    transform: scale(1.95, 1.95) translateY(50px);

  }
}