@import "../utilities/variables";
@import "../utilities/functions";

.prices {
  margin-top: 3.375rem;
  &__title {
    @include fontFamily($first-font, "Arial", sans-serif);
    @include fontSize(2.25rem, 400);
    text-align: center;
  }
  &__plans {
    margin-top: 0.875rem;
    @include desktop(){
      display: flex;
      margin-top: 68px;
      margin-bottom: 130px;
    }

    &--items {
      @include size(100%, 15.6875rem);
      @include margin(0, auto);
      border-radius: 1.125rem;
      overflow: visible;
      margin-bottom: 2.25rem;

      @include min372(){
        max-width: 23.25rem;
        @include size(100%, null);
      }

      @include desktop(){
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30.3125rem;
        margin: 0 auto;
        
      }

      &:hover {
        @include size(90.4%, null);
        @include min405(){
          max-width: 25.3125rem;
          @include size(100%, null);
        }
        @include desktop(){
         height: 31.25rem;
        }
      }

      &--cost {
        @include size(49%, null);
        @include position(relative, 4.375rem, null, null, null);
        @include margin(0, auto);
        float: left;
        text-align: center;
        & h3 {
          @include fontFamily($first-font, "Arial", sans-serif);
          @include fontSize(1.25rem, 700);
        }
        & h1 {
          @include fontFamily($second-font, "Arial", sans-serif);
          @include fontSize(2.875rem, 300);
        }
        & p {
          @include fontFamily($first-font, "Arial", sans-serif);
          @include fontSize(0.72rem, 700);
        }

        @include desktop(){
          @include position(relative, 0, null, null, null);
          margin-top: 34px;
        }
      }
      &--features {
        @include size(51%, null);
        float: left;

        @include desktop(){
          text-align: center;
        }


        & ul {
          margin-top: 1.5625rem;
        }

        & li {
          padding-bottom: 1.25rem;
          list-style: none;
          @include fontFamily($second-font, "Arial", sans-serif);
          @include fontSize(0.875rem, 300);
        }
      }

      & button {
        @include fontFamily($second-font, "Arial", sans-serif);
        @include fontSize(0.8125rem, 600);
        @include size(9.375rem, 3.125rem);
        @include position(relative, null, null, null, 60px);

        @include min372(){
          @include position(relative, null, null, null,90px);
        }
        @include desktop(){
          @include position(relative, 50px, null, null, null);
          margin-right: 170px;
          justify-content: center;
        }
        color: $seventh-color;
        border-radius: 23px;
        cursor: pointer;
        border-style: none;

      }
    }
  }
}
.basic {
  border: 1px solid $fifth-color;

  &:hover {
    @include shadow(5px, 10px, 27px, 0px, rgba(235, 71, 110, 0.29));
  }

  &:hover{
    .basic__button {
      @include shadow(5px, 10px, 14px, 0px, rgba(235, 71, 110, 0.29));
    }
  }

  &:hover{
    .basic__cost {
      @include desktop(){
        margin-bottom: 72px;
      }
    }
  }

  & h1 {
    color: $fifth-color;
    @include desktop(){
      margin-bottom: 61px;
    }
  }
  & button {
    background-color: $fifth-color;
  }
}
.professional {
  border: 1px solid $sixth-color;

  &:hover {
    @include shadow(5px, 10px, 27px, 0px, rgba(7, 172, 230, 0.29));
  }

  &:hover {
    .professional__button {
      @include shadow(5px, 10px, 14px, 0px, rgba(7, 172, 230, 0.29));
    }
  }

  &:hover{
    .professional__description {
      @include desktop(){
        margin-bottom: 61px;
      }
    }
  }

  & h1 {
    color: $sixth-color;
    }
  & p {
    @include desktop(){
      margin-bottom: 50px;
    }
  }

  & button {
    background-color: $sixth-color;
  }
}
.premium {
  border: 1px solid $fourth-color;

  &:hover{
    @include shadow(5px, 10px, 27px, 0px, rgba(85, 223, 180, 0.29));
  }

  &:hover{
    .premium__button {
      @include shadow(5px, 10px, 14px, 0px, rgba(85, 223, 180, 0.29));
    }
  }

  &:hover{
    .premium__description {
      @include desktop(){
        margin-bottom: 61px;
      }
    }
  }

  & h1 {
    color: $fourth-color;
  }
  & p {
    @include desktop(){
      margin-bottom: 50px;
    }
  }

  &__button {
    background-color: $fourth-color;
  }
}
