@import "../utilities/variables";
@import "../utilities/functions";

.prices {
  margin-top: 3.375rem;
  &__title {
    @include fontFamily("Raleway", "Arial", sans-serif);
    @include fontSize(2.25rem, 400);
    text-align: center;
  }
  &__plans {
    margin-top: 0.875rem;

    &--items {
      @include size(78.1%, 15.6875rem);
      @include margin(0, auto);
      border-radius: 1.125rem;
      overflow: visible;
      margin-bottom: 2.25rem;
      &:hover {
        @include size(90.4%, null);
      }

      &--cost {
        @include size(49%, null);
        @include position(relative, 4.375rem, null, null, null);
        @include margin(0, auto);
        float: left;
        text-align: center;
        & h3 {
          @include fontFamily("Raleway", "Arial", sans-serif);
          @include fontSize(1.25rem, 700);
        }
        & h1 {
          @include fontFamily("Open Sans", "Arial", sans-serif);
          @include fontSize(2.875rem, 300);
        }
        & p {
          @include fontFamily("Raleway", "Arial", sans-serif);
          @include fontSize(0.72rem, 700);
        }
      }
      &--features {
        @include size(51%, null);
        float: left;

        & ul {
          margin-top: 1.5625rem;
        }

        & li {
          padding-bottom: 1.25rem;
          list-style: none;
          @include fontFamily("Open Sans", "Arial", sans-serif);
          @include fontSize(0.875rem, 300);
        }
      }

      & button {
        @include fontFamily("Open Sans", "Arial", sans-serif);
        @include fontSize(0.8125rem, 600);
        @include size(9.375rem, 3.125rem);
        @include position(relative, null, null, null, 60px);
        color: $seventh-color;
        border-radius: 23px;
        cursor: pointer;
        border-style: none;
      }
    }
  }
}
.basic {
  border: 1px solid $fifth-color;

  &:hover {
    @include shadow(5px, 10px, 27px, 0px, rgba(235, 71, 110, 0.29));
  }

  & h1 {
    color: $fifth-color;
  }
  & button {
    background-color: $fifth-color;
  }
}
.professional {
  border: 1px solid $sixth-color;

  &:hover {
    @include shadow(5px, 10px, 27px, 0px, rgba(7, 172, 230, 0.29));
  }

  & h1 {
    color: $sixth-color;
  }

  & button {
    background-color: $sixth-color;
  }
}
.premium {
  border: 1px solid $fourth-color;

  &:hover {
    @include shadow(5px, 10px, 27px, 0px, rgba(85, 223, 180, 0.29));
  }

  & h1 {
    color: $fourth-color;
  }

  & button {
    background-color: $fourth-color;
  }
}
