@import "../utilities/variables";
@import "../utilities/functions";

.sales {
  @include size(82.6%, null);
  @include margin(0, auto);
  &__title {
    @include fontFamily($first-font, "Arial", sans-serif);
    @include fontSize(1.875rem, 300);
    text-align: center;
  }
  &__list {
    margin-top: 1.5625rem;

    &--item {
      display: block;
      margin: 0 auto;
      text-align: center;
      & h3 {
        display: block;
        margin-top: 0.875rem;
        @include fontFamily($first-font, "Arial", sans-serif);
        @include fontSize(1.25rem, 800);
        letter-spacing: 0.3725rem;
      }
      & p {
        margin-top: 1.25rem;
        @include fontFamily($first-font, "Arial", sans-serif);
        @include fontSize(1.0625, 400);
        margin-bottom: 1.5625rem;
      }
    }
  }
}
.item__img {
  @include size(100%, 4.375rem);

  &--circle {
    height: 3.9375rem;
    display: block;
    margin: 0 auto;
  }

  &--person {
    @include size(2.75rem, null);
    @include position(relative, null, null, 3.75rem, 1.5625rem);
  }
  &--eye {
    @include size(65px, null);
    @include position(relative, null, null, 3.125rem, 1.25rem);
  }
  &--catalog {
    @include size(52px, null);
    @include position(relative, null, null, 3.5rem, 1.5625rem);
  }
}
