@import "../utilities/variables";
@import '../utilities/functions';

.sales{
    background-color: greenyellow;
    @include size(82.6%, null);
    @include margin(0, auto);
    max-width: 440px;
    &__title{
        @include fontFamily($first-font, 'Arial', sans-serif);
        @include fontSize(30px, 300);
        text-align: center;
    }
}