@import "../utilities/variables";
@import "../utilities/functions";
@import "../utilities/mixins";


.sales {
  @include size(82.6%, null);
  @include margin(0, auto);
  &__title {
    @include fontFamily($first-font, "Arial", sans-serif);
    @include fontSize(1.875rem, 300);
    text-align: center;
    @include desktop(){
      @include fontSize(2.25rem, 400);
    }
  }
  &__list {
    margin-top: 1.5625rem;

    @include desktop(){
      display: flex;
      justify-content: center;
      margin-top: 6.25em;
      margin-bottom: 7.875rem;
    }

    &--item {
      @include margin(0, 100px);
      text-align: center;
      & h3 {
        @include fontFamily($first-font, "Arial", sans-serif);
        @include fontSize(1.25rem, 800);
        margin-top: 0.875rem;
        letter-spacing: 0.3725rem;
      }
      & p {
        @include fontFamily($first-font, "Arial", sans-serif);
        @include fontSize(1.0625rem, 400);
        margin-top: 1.25rem;

      }
    }
  }
}
.item__img {
  @include size(100%, 4.375rem);

  &--circle {
    @include size(null, 3.9375rem);
    @include margin(0,auto);
    display: block;
  }

  &--person {
    @include size(2.75rem, null);
    @include position(relative, null, null, 3.75rem, 1.5625rem);
  }
  &--eye {
    @include size(4.0625rem, null);
    @include position(relative, null, null, 3.125rem, 1.25rem);
  }
  &--catalog {
    @include size(3.25rem, null);
    @include position(relative, null, null, 3.5rem, 1.5625rem);
  }
}
.person{
  @include size(7.3125rem, null);
}
.eye{
  @include size(11rem, null);
}
.catalog{
  @include size(10.1875rem, null);
}


