@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

.header {
  height: 70px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.29);
  width: 100%;
  margin-bottom: 100px;
}
.header__title {
  color: #08A6E4;
  font-family: "Raleway", "Arial", sans-serif;
  font-weight: 300;
  font-size: 32px;
  padding: 17px 0 0 25px;
}
.header__nav svg {
  position: relative;
  bottom: 70px;
  left: 86.6%;
  width: 20px;
  fill: #07ACE6;
}
.header__nav ul {
  color: #000000;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 11px;
  letter-spacing: 3.28px;
  margin-top: 40px;
  margin-left: 25px;
  display: none;
}
.header__nav li {
  list-style: none;
  line-height: 15px;
  margin-bottom: 14px;
}
.header__nav a {
  text-decoration: none;
}

.main__container {
  margin: 0 auto;
  max-width: 440px;
  width: 82.6%;
}
.main__container--title {
  font-family: "Raleway";
  font-weight: 400;
  font-size: 35px;
  margin: 0 auto;
  text-align: center;
}
.main__container--subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  padding-top: 20px;
}
.main__container--button {
  margin-top: 30px;
  width: 100%;
  padding: 22px;
  background-color: #08A6E4;
  color: #FFFFFF;
  border-radius: 40px;
  border-style: none;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
}
.main__img {
  margin-top: 51px;
  max-width: 100%;
  background-size: cover;
  transform: scale(1.95, 1.95) translateY(50px);
}/*# sourceMappingURL=style.css.map */