@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url(https://fonts.gstatic.com/s/raleway/v28/1Ptug8zYS_SKggPNyC0ITw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  src: url(https://fonts.gstatic.com/s/opensans/v35/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2) format("woff2");
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: clip;
}

body {
  min-width: 320px;
}

.header {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.29);
  width: 100%;
  height: 4.375rem;
  margin-bottom: 6.25rem;
}
.header__title {
  font-size: 2rem;
  font-weight: 300;
  font-family: "Raleway", "Arial", sans-serif;
  position: relative;
  left: 5%;
  padding-top: 1.0625rem;
  color: #08A6E4;
}
@media screen and (min-width: 62.5rem) {
  .header__title {
    position: relative;
    left: 8.43%;
  }
}
.header__nav {
  font-size: 0.6875rem;
  font-weight: 700;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.205rem;
}
.header__nav svg {
  position: relative;
  bottom: 4.375rem;
  left: 89.1%;
  width: 1.25rem;
  fill: #07ACE6;
  cursor: pointer;
}
@media screen and (min-width: 62.5rem) {
  .header__nav svg {
    display: none;
  }
}
.header__nav svg:hover + .header__nav--mobile {
  display: block;
}
.header__nav--mobile {
  display: none;
  width: 100%;
  height: 10.9375rem;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.29);
  position: fixed;
  top: 4.375rem;
  background-color: #FFFFFF;
}
.header__nav--mobile li {
  position: relative;
  top: 2.5rem;
  left: 1.5625rem;
  list-style: none;
  line-height: 0.9375rem;
  margin-bottom: 0.875rem;
}
.header__nav--mobile a {
  text-decoration: none;
  color: black;
}
.header__nav--desktop {
  display: none;
  position: relative;
  right: 7%;
  bottom: 1.6875rem;
}
@media screen and (min-width: 62.5rem) {
  .header__nav--desktop {
    display: flex;
    justify-content: end;
  }
}
.header__nav--desktop li {
  list-style: none;
  margin-left: 5.9375rem;
  -webkit-text-decoration: black;
          text-decoration: black;
  padding-bottom: 25px;
}
.header__nav--desktop li:hover {
  border-bottom: 4px solid #08A6E4;
}
.header__nav--desktop a {
  text-decoration: none;
  color: black;
}

.main__container {
  margin: 0 auto;
  width: 82.6%;
}
@media screen and (min-width: 27.5rem) {
  .main__container {
    width: 100%;
    max-width: 27.5rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .main__container {
    margin-top: 130px;
  }
}
.main__container--title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 2.1875rem;
  font-weight: 400;
  text-align: center;
}
@media screen and (min-width: 62.5rem) {
  .main__container--title {
    font-size: 3.0625rem;
    font-weight: 400;
  }
}
.main__container--subtitle {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  padding-top: 1.25rem;
}
.main__container--button {
  margin-top: 3.25rem;
  width: 100%;
  padding: 1.375rem 0;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  background-color: #08A6E4;
  color: #FFFFFF;
  border-radius: 2.5rem;
  border-style: none;
}
.main__img {
  margin: 2.25rem 0 1.8125rem 0;
}
@media screen and (min-width: 62.5rem) {
  .main__img {
    margin: 0 0 1.875rem 0;
    -o-object-position: 100%;
       object-position: 100%;
    height: 100%;
  }
}
.main__img img {
  padding: 1.5em 0 2.3125rem 0;
  width: 100%;
  height: 20.625rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
@media screen and (min-width: 62.5rem) {
  .main__img img {
    padding: 0 0 0 0;
    -o-object-position: 100%;
       object-position: 100%;
    height: 100%;
  }
}

.sales {
  width: 82.6%;
  margin: 0 auto;
}
.sales__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1.875rem;
  font-weight: 300;
  text-align: center;
}
@media screen and (min-width: 62.5rem) {
  .sales__title {
    font-size: 2.25rem;
    font-weight: 400;
  }
}
.sales__list {
  margin-top: 1.5625rem;
}
@media screen and (min-width: 62.5rem) {
  .sales__list {
    display: flex;
    justify-content: center;
    margin-top: 6.25em;
    margin-bottom: 7.875rem;
  }
}
.sales__list--item {
  margin: 0 auto;
  text-align: center;
}
@media screen and (min-width: 62.5rem) {
  .sales__list--item {
    margin: 0 6.25rem;
  }
}
.sales__list--item h3 {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  margin-top: 0.875rem;
  letter-spacing: 0.3725rem;
}
.sales__list--item p {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1.0625rem;
  font-weight: 400;
  margin: 1.25rem 0 1.5625rem 0;
}

.item__img {
  width: 100%;
  height: 4.375rem;
}
.item__img--circle {
  height: 3.9375rem;
  margin: 0 auto;
  display: block;
}
.item__img--person {
  width: 2.75rem;
  position: relative;
  bottom: 3.75rem;
  left: 1.5625rem;
}
.item__img--eye {
  width: 4.0625rem;
  position: relative;
  bottom: 3.125rem;
  left: 1.25rem;
}
.item__img--catalog {
  width: 3.25rem;
  position: relative;
  bottom: 3.5rem;
  left: 1.5625rem;
}

.person {
  width: 7.3125rem;
}

.eye {
  width: 11rem;
}

.catalog {
  width: 10.1875rem;
}

.benefits {
  background-color: #F7F7F7;
  padding: 3.5rem 0 6.25rem 0;
}
@media screen and (min-width: 62.5rem) {
  .benefits {
    padding-top: 6.6875rem;
  }
}
.benefits__container {
  margin: 0 auto;
  width: 83.4%;
  background-color: #FFFFFF;
}
@media screen and (min-width: 27.5rem) {
  .benefits__container {
    max-width: 23.4375rem;
    width: 100%;
  }
}
@media screen and (min-width: 62.5rem) {
  .benefits__container {
    width: 100%;
    height: 23.125rem;
    max-width: 70.25rem;
    display: flex;
    margin-bottom: 2.3125rem;
  }
}
.benefits__container--text {
  margin-left: 1.3125rem;
}
.benefits__container--text h1 {
  width: 87.2%;
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1.875rem;
  font-weight: 400;
  margin-top: 0.875rem;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--text h1 {
    font-size: 2.25rem;
    font-weight: 400;
    margin-bottom: 1.875rem;
  }
}
.benefits__container--text p {
  width: 86.6%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  margin-bottom: 1.6875rem;
  padding-bottom: 1.6875rem;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--text p {
    font-size: 1rem;
    font-weight: 400;
    width: 26rem;
    padding-bottom: 2.5rem;
    border-bottom: 4px solid;
  }
}
.benefits__container--macbook--img {
  width: 10.75rem;
  position: relative;
  left: 3.125rem;
  padding-top: 2.3125rem;
  z-index: 1;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--macbook--img {
    width: 24.1875rem;
    position: relative;
    top: 5rem;
    margin-right: 3.125rem;
  }
}
.benefits__container--macbook--rectanguleRed {
  width: 4.375rem;
  position: relative;
  right: 0.625rem;
  bottom: 3.4375rem;
  z-index: 0;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--macbook--rectanguleRed {
    display: none;
  }
}
.benefits__container--macbook--rectanguleRed2 {
  visibility: hidden;
  width: 4.375rem;
  position: relative;
  bottom: 11.4375rem;
  left: 17.5rem;
  z-index: 0;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--macbook--rectanguleRed2 {
    visibility: visible;
    width: 11.25rem;
  }
}
.benefits__container--phone {
  width: 100%;
  height: 8.125rem;
}
.benefits__container--phone--img {
  width: 8.125rem;
  position: relative;
  top: 1.875rem;
  left: 3.75rem;
  z-index: 1;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--phone--img {
    width: 26.625rem;
    margin-left: 8.5rem;
  }
}
.benefits__container--phone--circleBlue {
  width: 5.625rem;
  position: relative;
  right: 3.75rem;
  z-index: 0;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--phone--circleBlue {
    width: 20rem;
    position: relative;
    bottom: 19.5rem;
    left: 3rem;
  }
}
.benefits__container--trumpet {
  height: 12.18175rem;
  background-color: #55DFB4;
  border-radius: 5px;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--trumpet {
    float: left;
    width: 50%;
    height: 100%;
    margin-left: 3.8125rem;
  }
}
.benefits__container--trumpet--img {
  width: 15.3125rem;
  position: relative;
  top: 3.125rem;
  position: relative;
  z-index: 1;
}
@media screen and (min-width: 62.5rem) {
  .benefits__container--trumpet--img {
    width: 16.5625rem;
    height: 12.9375rem;
    position: relative;
    top: 6.25rem;
    left: 6.25rem;
  }
}

.macbook {
  flex-direction: row-reverse;
}
@media screen and (min-width: 62.5rem) {
  .macbook {
    padding-left: 2.1875rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .macbook h1 {
    padding-top: 5.6875rem;
  }
}
.macbook p {
  margin-top: 2.875rem;
}
@media screen and (min-width: 62.5rem) {
  .macbook p {
    border-color: #FB3B64;
    margin-right: 10.0625rem;
    padding-bottom: 3.125rem;
  }
}

@media screen and (min-width: 62.5rem) {
  .phone h1 {
    margin-top: 4.3125rem;
  }
}
.phone p {
  margin-top: 1.125rem;
}
@media screen and (min-width: 62.5rem) {
  .phone p {
    margin-right: 20.25rem;
    border-color: #08A6E4;
  }
}

@media screen and (min-width: 62.5rem) {
  .trumpet--desktop {
    display: flex;
    align-items: center;
  }
}

.trumpet {
  padding-top: 1.9375rem;
}
@media screen and (min-width: 62.5rem) {
  .trumpet {
    padding-left: 2.1875rem;
    float: left;
    flex: 1;
  }
}
@media screen and (min-width: 62.5rem) {
  .trumpet h1 {
    margin-top: 4, 3125rem;
  }
}
.trumpet p {
  margin-top: 1.25rem;
}
@media screen and (min-width: 62.5rem) {
  .trumpet p {
    border-color: #55DFB4;
  }
}

.prices {
  margin-top: 3.375rem;
}
.prices__title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  text-align: center;
}
.prices__plans {
  margin-top: 0.875rem;
}
@media screen and (min-width: 62.5rem) {
  .prices__plans {
    display: flex;
    margin: 4.25rem 16% 8.1255rem 16%;
  }
}
.prices__plans--items {
  width: 78.1%;
  height: 15.6875rem;
  margin: 0 auto;
  border-radius: 1.125rem;
  overflow: visible;
  margin-bottom: 2.25rem;
}
@media screen and (min-width: 27.5rem) {
  .prices__plans--items {
    max-width: 23.25rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .prices__plans--items {
    width: 29%;
    height: 30.3125rem;
    max-width: 79.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5.3%;
  }
}
.prices__plans--items:hover {
  width: 90.3%;
}
@media screen and (min-width: 25.3125rem) {
  .prices__plans--items:hover {
    max-width: 25.3125rem;
    width: 100%;
  }
}
@media screen and (min-width: 62.5rem) {
  .prices__plans--items:hover {
    width: 32%;
    height: 31.25rem;
  }
}
.prices__plans--items--cost {
  width: 49%;
  position: relative;
  top: 4.375rem;
  margin: 0 auto;
  float: left;
  text-align: center;
}
.prices__plans--items--cost h3 {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
}
.prices__plans--items--cost h1 {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 2.875rem;
  font-weight: 300;
}
.prices__plans--items--cost p {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 0.72rem;
  font-weight: 700;
}
@media screen and (min-width: 62.5rem) {
  .prices__plans--items--cost {
    position: relative;
    top: 0;
    width: 100%;
    margin-top: 2.125rem;
  }
}
.prices__plans--items--features {
  width: 51%;
  float: left;
}
@media screen and (min-width: 62.5rem) {
  .prices__plans--items--features {
    text-align: center;
    width: 100%;
  }
}
.prices__plans--items--features ul {
  margin-top: 1.5625rem;
}
.prices__plans--items--features li {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  padding-bottom: 1.25rem;
  list-style: none;
}
@media screen and (min-width: 62.5rem) {
  .prices__plans--items--features li {
    padding-bottom: 20px;
  }
}
.prices__plans--items button {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  width: 9.375rem;
  height: 3.125rem;
  position: relative;
  left: 3.75rem;
  color: #FFFFFF;
  border-radius: 1.475rem;
  cursor: pointer;
  border-style: none;
}
@media screen and (min-width: 23.25rem) {
  .prices__plans--items button {
    position: relative;
    left: 5.625rem;
  }
}
@media screen and (min-width: 62.5rem) {
  .prices__plans--items button {
    position: relative;
    top: 3.625rem;
    margin-right: 10.625rem;
    justify-content: center;
  }
}

.basic {
  border: 1px solid #EB476E;
}
.basic:hover {
  box-shadow: 5px 10px 27px 0px rgba(235, 71, 110, 0.29);
}
.basic:hover .basic__button {
  box-shadow: 5px 10px 14px 0px rgba(235, 71, 110, 0.29);
}
@media screen and (min-width: 62.5rem) {
  .basic:hover .basic__cost {
    margin-bottom: 4.5rem;
  }
}
.basic h1 {
  color: #EB476E;
}
@media screen and (min-width: 62.5rem) {
  .basic h1 {
    margin-bottom: 3.4125rem;
  }
}
.basic button {
  background-color: #EB476E;
}

.professional {
  border: 1px solid #07ACE6;
}
.professional:hover {
  box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
}
.professional:hover .professional__button {
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
}
@media screen and (min-width: 62.5rem) {
  .professional:hover .professional__description {
    margin-bottom: 3.8125rem;
  }
}
.professional h1 {
  color: #07ACE6;
}
@media screen and (min-width: 62.5rem) {
  .professional p {
    margin-bottom: 2.6875rem;
  }
}
.professional button {
  background-color: #07ACE6;
}

.premium {
  border: 1px solid #55DFB4;
}
.premium:hover {
  box-shadow: 5px 10px 27px 0px rgba(85, 223, 180, 0.29);
}
.premium:hover .premium__button {
  box-shadow: 5px 10px 14px 0px rgba(85, 223, 180, 0.29);
}
@media screen and (min-width: 62.5rem) {
  .premium:hover .premium__description {
    margin-bottom: 3.8125rem;
  }
}
.premium h1 {
  color: #55DFB4;
}
@media screen and (min-width: 62.5rem) {
  .premium p {
    margin-bottom: 2.6875rem;
  }
}
.premium__button {
  background-color: #55DFB4;
}

.contact {
  margin: 0 auto;
  padding: 4rem 1.875rem;
}
@media screen and (min-width: 27.5rem) {
  .contact {
    max-width: 27.5rem;
    width: 100%;
  }
}
@media screen and (min-width: 62.5rem) {
  .contact {
    max-width: 56rem;
    width: 100%;
    display: flex;
  }
}
@media screen and (min-width: 62.5rem) {
  .contact__questions {
    width: 49%;
  }
}
.contact__questions--title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 0.3125rem;
}
@media screen and (min-width: 62.5rem) {
  .contact__questions--title {
    font-size: 3.0625rem;
    font-weight: 400;
  }
}
.contact__questions--description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 2.375rem;
}
.contact__questions--details {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #A5A5A5;
  margin-bottom: 4rem;
}
@media screen and (min-width: 62.5rem) {
  .contact__questions--details {
    display: inline-flex;
  }
}
.contact__questions--details p {
  margin-right: 1.25rem;
}
.contact__questions--details img {
  position: relative;
  top: 5px;
  width: 1.375rem;
  margin-right: 0.4375rem;
}
@media screen and (min-width: 62.5rem) {
  .contact__form {
    width: 51%;
  }
}
.contact__form--name, .contact__form--email {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.6875rem;
  font-weight: 500;
  color: #08A6E4;
  letter-spacing: 0.205rem;
  margin-bottom: 2.5625rem;
}
.contact__form--name--input, .contact__form--email--input {
  width: 100%;
  margin-bottom: 2.5625rem;
  border: none;
  border-bottom: 1px solid #95989A;
}
.contact__form--checkbox {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid #95989A;
  border-radius: 4px;
}
.contact__form--conditions {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  width: 88.7%;
  position: relative;
  bottom: 1.875rem;
  left: 2.1875rem;
  color: #707070;
  position: relative;
}
@media screen and (min-width: 62.5rem) {
  .contact__form--conditions {
    width: 100%;
  }
}
.contact__form--send {
  width: 72.4%;
  height: 3.5625rem;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.8125rem;
  font-weight: 600;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.29);
  position: relative;
  left: 4.3125rem;
  border-radius: 2.1875rem;
  background-color: #08A6E4;
  color: #FFFFFF;
}
@media screen and (min-width: 62.5rem) {
  .contact__form--send {
    max-width: 14.125rem;
    width: 100%;
    position: relative;
    left: 11.25rem;
  }
}

.footer {
  width: 100%;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  background-color: #F7F7F7;
  margin-top: 2.75rem;
  overflow: visible;
}
.footer__text {
  width: 73%;
  position: relative;
  left: 5%;
}
@media screen and (min-width: 62.5rem) {
  .footer__text {
    position: relative;
    left: 8%;
  }
}
.footer__text--title {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 1.625rem;
  font-weight: 300;
  color: #08A6E4;
  padding-top: 1.375rem;
}
.footer__text--description {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 0.6875rem;
  font-weight: 300;
  color: #A5A5A5;
}
.footer__rrss {
  width: 27%;
  position: relative;
  bottom: 2.1875rem;
  left: 65.7%;
  text-align: right;
}
@media screen and (min-width: 62.5rem) {
  .footer__rrss {
    position: relative;
    bottom: 2.1875rem;
    left: 65.7%;
  }
}
.footer__rrss img {
  width: 1.5rem;
  margin-right: 1.25rem;
}/*# sourceMappingURL=style.css.map */